body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 0; 
  background: black; 
}

.title { 
  margin: 0 auto;
  text-align: center;
}  

.title-text{ 
    color: white; 
}



.paragraph-box{ 

}